/data/pdb
/data/clean
.vscode
wget-log
met_predictor/Met-Predictor_12302019/test_fasta*
met_predictor/Met-Predictor_12302019/scripts/test_fasta*
protein_stru/file1
protein_stru/file2
protein_stru/out
protein_stru/output
sequence_align/seqX
sequence_align/seqY
protein_stru/test.seq
protein_stru/test_pdb
data/test_read_file
met_predictor/download

met_predictor/output
met_predictor/test_fasta
.gitignore
met_predictor/Met-Predictor_12302019/readme.txt
met_predictor/Met-Predictor_12302019/licence.txt
met_predictor/outfile
met_predictor/out
sequence_align/seqY
sequence_align/seqX
protein_stru/test_data
protein_stru/pdb2fasta
protein_stru/out
protein_stru/2pu3A
protein_stru/1a1xA
.gitignore
protein_stru/pdb2fasta
met_predictor/PtmGetFeatures/
new_mat/env